.container{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.img{
    width: 250px;
    height: 250px;
    margin-top: 40px;
}

.timer{
    font-size: 50px;
    color: #000;
    margin-top: -130px;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    background-color: #bac7be;
}

.container-button{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    margin-top: 80px;
}

.botao{
    width: 100px;
    height: 40px;
    font-size: 16px;
    font-weight: 500;
    margin: 0 10px;
    border-radius: 16px;
    border: none;
    background-color: #fff;
    color: #000;
    cursor: pointer
}

.botao:hover{
    background-color: #80AB82;
    color: #fff;
    transition: all 0.3s;
}